@model SaluScanner.Core.Entities.Company
@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("Update", "Company",FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        <br />
        @Html.LabelFor(m => m.About)
        @Html.TextBoxFor(m => m.About, new { @class = "form-control" })
        <br />
        @Html.LabelFor(m => m.Mail)
        @Html.TextBoxFor(m => m.Mail, new { @class = "form-control" })
        <br />
        @Html.LabelFor(m => m.ContactNumber)
        @Html.TextBoxFor(m => m.ContactNumber, new { @class = "form-control" })
        <br />
        @Html.LabelFor(m => m.Website999)
        @Html.TextBoxFor(m => m.Website999, new { @class = "form-control" })
    </div>
    <div style ="margin-top:15px">
        <button class="btn btn-warning">Şirket Güncelle</button>
    </div>
}
